@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Arial, sans-serif;
    background-color: #e0dfdc;
    color: #0c0c0c;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .font-bbh {
    font-family: "BBH Bartle", sans-serif;
    letter-spacing: 0.05em;
  }

  p a,
  #hero h1,
  .logo h2,
  div>h1 {
    color: #db4a2b;
  }
}

.break-inside-avoid {
  break-inside: avoid;
}

#lightbox {
  backdrop-filter: blur(5px);
}

#lightbox-img {
  max-height: 90vh;
}