<!DOCTYPE html>
<html lang='en'>
    <head>
        {% include "../../_components/_head.njk" %}
    </head>
    <body class="h-full text-black antialiased bg-no-repeat bg-top bg-contain">
        {% block header %}
            {% include "../../_components/_header.njk" %}
        {% endblock %}
        
        {% block main %}
        <main id="content" role="main">
            {{ content | safe }}
        </main>
        {% endblock %}

        {% block footer %}
            {% include "../../_components/_footer.njk" %}
        {% endblock %}
    </body>
</html>