---
layout: /layouts/base.njk
pagination:
  data: collections.posts
  size: 3
  reverse: true
  filter:
    - posts

eleventyImport:
  collections: ["post"]
---

{% block hero %}
  {% include '../../_components/_hero.njk' %}
{% endblock hero %}
{% block postslists %}
  {% set postslist = pagination.items %}
  {% include '../../_components/_postslist.njk' %}
{% endblock postslists %}
{% block recent_music %}
  {% include '../../_components/_recentlisten.njk' %}
{% endblock recent_music %}