<!-- hero -->
<section id="hero" class="pt-8 md:pt-16">
    <div class="max-w-screen-xl m-auto px-5">
        <div class="grid grid-cols-12 gap-3">
            <div class="col-start-1 col-end-12 lg:col-end-10">
                <h1 class="text-lg md:text-xl tracking-tighter font-bold md:mb-3 text-gray-800">{{ title | safe }}
                </h1>
                <p class="mt-1">{{description | safe}}</p>
            </div>
        </div>
    </div>
</section>
<!-- hero end -->