<ol class="mt-8 m-auto px-5 max-w-screen-xl">
  <h2 class="text-lg font-bold font-bbh mb-3 text-black">Recent writings</h2>
  {% for post in postslist -%}
    {% if post.data.published -%}
      <li class="mb-3">
        <article>
          <h3>
            <a href="{{ post.url | url }}" title="read {{ post.data.title }}" class="pt-5 font-bold font-bbh text-base">
              {%- if post.data.title -%}
                {{ post.data.title }}
              {%- endif -%}
            </a>
          </h3>
          <p class="pt-1 text-sm">
            {{ post.data.subHeading }}
            <time datetime="{{ post.date | htmlDateString }}" class="font-serif whitespace-nowrap italic">&mdash; {{ post.date | readableDate }}</time>
          </p>
        </article>
      </li>
    {%- endif -%}
  {%- endfor %}
</ol>
