<div class="px-5 max-w-screen-xl lg:mx-auto mt-8">
    <h2 class="text-lg font-bold font-bbh mb-3">What I last listened to ...</h2>
    <div
        class="flex flex-col items-start w-full">
        <!-- Changed items-center to items-start -->
        {% if music.recent_music %}
            {% for item in music.recent_music %}
                {# {% set artist_names = item.track.album.artists | map('name') | join(', ') %} #}
                <a href="{{ item.track.external_urls.spotify }}" target="_blank" class="mb-3 mx-3 flex items-center hover:underline">
                    {% if item.track.album.name === 'Haram' %}
                        <img src="{{ item.track.album.images[0].url }}" class="w-6 h-6 min-h-6 min-w-6 sm:w-6 sm:h-6 md:w-6 md:h-6 " alt="music cover art" style="filter: blur(10px)"/>
                    {% else %}
                        <img src="{{ item.track.album.images[0].url }}" class="w-6 h-6 min-h-6 min-w-6 sm:w-6 sm:h-6 md:w-6 md:h-6" alt="music cover art"/>
                    {% endif %}
                    {% if item.track.name.length > 60 %}
                        <p class="text-sm px-3">{{ item.track.name.substring(0, 25) }}...</p>
                    {% else %}
                        <p class="text-sm px-3">{{ item.track.name }}</p>
                    {% endif %}
                    {# will add in later  #}
                    {# <p> - {{artist_names}}</p> #}
                </a>
            {% endfor %}
        {%- else -%}
            <p>Loading ...
            </p>
        {% endif %}
    </div>
    <h2 class="text-lg font-bold font-bbh mb-3 mt-8">I wake myself up with this most mornings ...</h2>
    <iframe
        data-testid="embed-iframe"
        style="border-radius:12px"
        src="https://open.spotify.com/embed/playlist/74CInNgYfd99b12bUgGEO7?utm_source=generator&theme=0"
        width="100%"
        height="352"
        frameBorder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"></iframe>
</div></div>