---
layout: layouts/single.njk
pagination:
  data: collections.posts
  size: 10
  reverse: true
  filter:
    - works
    - posts
---



<div class="px-5 py-10 clear-both max-w-screen-xl mx-auto md:grid md:grid-cols-12 md:gap-5 md:items-start">

</div>
